.projectAll {
    position: relative;
    padding-bottom: 100px;
    width: 100%;
}

.projectAll .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectAll .container .item {
    position: relative;
    width: 450px;
    height: 400px;

    margin: 0 40px 50px;
    cursor: pointer;

}





.item .info {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    width: 70%;
    max-width: 450px;
    height: 141px;
    z-index: 1001;
}

.item .title {
    top: 27px;
    left: 42px;
    position: absolute;
    text-transform: uppercase;
    color: #B9261A;
    font-family: Muller, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 800;
    letter-spacing: 2px;

}

.item .name {
    top: 50px;
    left: 42px;
    position: absolute;
    text-transform: uppercase;
    font-family: Muller, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 2px;
    color: #222222;
}


@media (max-width: 1500px) {


    .container {
        justify-content: center;
    }

}


