.image-gallery-slide {
    max-height: 600px !important;
}

.image-gallery-thumbnail-inner img,
.image-gallery-thumbnail-inner,
.image-gallery-thumbnail {
    max-height: 72px;
}



.image-gallery-image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 600px !important;
}

.image-gallery-image img {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 600px !important;
}


body {
    overflow-x: hidden;

}


/*@font-face {*/
/*    font-family: "MullerRegular";*/
/*    src: url("src/fonts/Fontfabric - MullerRegular.otf") format("otf");*/
/*}*/

/*@font-face {*/
/*    font-family: "MullerLightItalic";*/
/*    src: url("src/fonts/Fontfabric - MullerLightItalic.otf") format("otf");*/

/*}*/
