
.container {
    position: relative;
    display: flex;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.building,
.design,
.about,
.contacts {
    position: relative;
    cursor: pointer;
}


.building .title,
.design .title {
    /*left: -30%;*/
}

.contacts .title {
    /*left: -10%;*/
}

.title {
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: 10% 10%;
    position: absolute;
    left: 0px;
    bottom: 3%;
    font-family: Muller, sans-serif;
    font-size: 20px;
    line-height: 70px;
    color: #222222;
    letter-spacing: 7px;
}


.building:hover .text {
    visibility: visible;
}

.design:hover .text {
    visibility: visible;
}

.about:hover .text {
    visibility: visible;
}

.contacts:hover .text {
    visibility: visible;
}

.name {
    position: absolute;
    left: 60px;
    top: 329px;
    font-size: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    color: black;
}

.text {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 120px;
    visibility: hidden;

}

.text span {
    writing-mode: tb-rl;
    transform: rotate(-180deg);

    font-family: Muller, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;

    display: flex;
    align-items: center;
    letter-spacing: 7px;
    text-transform: uppercase;

    color: #222222;
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .building,
    .design,
    .about,
    .contacts {
        width: 100%;
        height: 100%;
    }

    .title {
        top: 0;
        left: 5%;
        transform: rotate(0deg);
    }

    .text {
        visibility: hidden !important;
    }

    .image {
        position: relative;
        max-height: 200px;
    }



}


@media (max-width: 420px) {

    .container {
        max-height:520px;
    }


    .image {
        max-height: 130px;
    }

    .building,
    .design,
    .about,
    .contacts {
        max-height: 130px;

    }
}
