.container {
    position: relative;
    background: black;
}
.header {
    margin-top:10px;
    position: absolute;
    top: 0;
    width: 100%;
}
.wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0.3;

}

.linkBack {
    position: absolute;
    top: 175px;
    left: 100px;
}

.buttonBack {

    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background: inherit;
    cursor: pointer;
}

.buttonBack img {
    position: relative;
    padding-left: 7px;
}

.box {
    position: absolute;
    top: 150px;
    left: 193px;
    width: 1558px;
    height: 674px;
    border-bottom: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.box p {
    margin: 0;
    padding: 0;
    font-family: Muller, sans-serif;
    color: #F2F2F2;

}

.box .name {
    margin-top: 25px;
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
}

.box .description {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
    opacity: 0.7;
}

.box .location,
.box .customer {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.box .customerName {
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.box .locationName {
    margin-top: 20px;
    max-width: 700px;

    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.box .description2 {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
    opacity: 0.7;
}

.box .square {
    margin-top: 50px;
    font-size: 30px;
    line-height: 130%;
    /* or 39px */

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.box .square2 {
    font-size: 30px;
    line-height: 130%;
    font-weight: bold;

    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.box .galleryLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 259px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ECECEC;
    border: 0;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
    font-weight: 600;
    cursor: pointer;
}

.box .galleryLink img {
    margin-left: 20px;
}


@media (max-width: 1800px) {

    .box {
        width: 100%;
        position: absolute;
        border: 0;
        display: flex;
        flex-direction: column;
    }

    .galleryLink {
        position: relative;
        right: 200px !important;
        left: auto !important;
    }
}


@media (max-width: 1200px) {

    .galleryLink {
        width: 150px !important;
        font-size: 10px !important;
        padding: 0 !important;
    }

    .galleryLink span {
        margin-right: 0px !important;
    }

    .galleryLink img {
        margin-left: 5px !important;
        margin-right: 0px !important;
    }

    .box {
        left: 50px;
    }

    .linkBack {
        position: absolute;
        top: auto;
        bottom: 0px;
        left: 0px;
    }


    .box .name {
        font-size: 28px;
    }

    .box .description2,
    .box .description {
        font-size: 15px;
    }

    .box .customerName {
        font-size: 20px;
    }

    .box .locationName {
        font-size: 20px;
        max-width: 500px;
    }

    .box .square2,
    .box .square {
        font-size: 20px;
    }

}


@media (max-width: 420px) {


    .wrapper {
        height: 100%;
    }

    .box {
        height: 100%;
        position: relative;
        top: 13%;
        left: 5%;
    }

    .box .name {
        width: 90%
    }

    .box .description {
        width: 90%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .box .customerName {
        width: 90%;
        margin-bottom: 20px;
    }

    .box .locationName {
        width:90%;
    }

    .box .description2 {
        margin-top: 10px;
        width: 90%;
    }

    .box .square {
        margin-top: 0;
    }

    .actions {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    .linkBack {
        position: relative !important;
    }

    .galleryLink {
        position: relative !important;
        left: auto !important;
        right: auto !important;
    }
}
