.container {
    position: relative;
    background: black;
    overflow-x: hidden;
}
.header {
    margin-top:10px;
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
}
.wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0.3;

}

.linkBack {
    position: absolute;
    top: 175px;
    left: 100px;
}

.buttonBack {

    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background: inherit;
    cursor: pointer;
}

.buttonBack img {
    position: relative;
    padding-left: 7px;
}


p {
    margin: 0;
    padding: 0;
    font-family: MullerRegular, sans-serif;
    color: #F2F2F2;

}

 .name {
    position: absolute;
    left: 180px;
    top:176px;
    font-family: Muller, sans-serif;
    font-size: 35px;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
}

 .type {
     position: absolute;
     left: 180px;
     top:230px;
     font-size: 12px;
     line-height: 12px;
     text-transform: uppercase;
     color: #BEBEBE;
     letter-spacing: 2px;
     font-weight: bold;
     max-width: 700px;
 }

.description {
    position: absolute;
    left: 180px;
    top:230px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
    opacity: 0.7;
}


 .customer {
    position: absolute;
    left: 180px;
    top:300px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

 .customerName {
     position: absolute;
     left: 180px;
     top:330px;
     font-size: 25px;
     line-height: 130%;
     letter-spacing: 0.2em;
     text-transform: uppercase;
 }


 .location {
     position: absolute;
     left: 180px;
     top:390px;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
 }

 .locationName {
    position: absolute;
    left: 180px;
    top:420px;
    max-width: 700px;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

 .description2 {
     font-family: MullerRegular, sans-serif;
     position: absolute;
     left: 150px;
     top:550px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
     opacity: 0.7;
     color: #F2F2F2;
     columns: 2;
     -webkit-columns: 2;
     -moz-columns: 2;
     -webkit-column-break-inside: avoid; /* Chrome, Safari */
     padding-inline-start: 40px !important;
}

 .description2 li {
     float: left;
     break-inside: avoid-column;
     margin-top: 10px;
     min-width: 300px;
 }

.description2 li:nth-child(4),
.description2 li:nth-child(3) {
     margin-left: 60px;
 }

.moreDetails {
    font-family: Muller, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 180px;
    top:730px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    cursor: pointer;
}

.moreDetails:hover {
    opacity: 0.5
}

 .square {
     font-family: MullerRegular, sans-serif;
     position: absolute;
     left: 180px;
     top:520px;
    font-size: 25px;
    line-height: 130%;
    /* or 39px */

    letter-spacing: 0.2em;
    text-transform: uppercase;
}




 .galleryLink {
    position: absolute;
    left: 550px;
    top: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 259px;
    height: 50px;

    background: #ECECEC;
    border: 0;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
    font-weight: 600;
    cursor: pointer;
}

 .galleryLink img {
    margin-left: 20px;
}

 .gallery {
     position: absolute;
     left: 900px;
     top: 170px;
     flex-wrap: wrap;
     display: flex;
 }


 .galleryItem {
     cursor: pointer;
     margin-bottom: 35px;
     margin-left: 40px;
     width: 327px;
     height: 199px;
 }


 .close {
     position: absolute;
     top: 5%;
     right: 30px;
     opacity: 1 !important;
     z-index: 1000000;
     cursor: pointer;
 }


 .modalDetails {
     height: 75%;
     padding: 60px;
     overflow:auto;
 }

 .customerTitle {
     font-family: Muller, sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 34px;
     /* identical to box height, or 142% */

     text-align: left;
     letter-spacing: 2px;
     text-transform: uppercase;

     /* 2 */

     color: #2B2A29;

     padding-bottom: 30px;
 }

 .modalDetails p {
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 28px;
     /* or 156% */


     /* 2 */

     color: #2B2A29;
     opacity: 0.7;
 }

 .detailsClose {
     position: absolute;
     top: -35px;
     right:-35px;
     cursor: pointer;
 }

@media (max-width: 1800px) {


    .moreDetails {
        left: 100px;
    }

    .gallery {
        left: 800px;
    }



    .galleryItem {
        margin-bottom: 35px;
        margin-left: 40px;
        width: 250px;
        height: 160px;
    }

    .header {
        left: 0;
    }

    .linkBack {
        left: 30px;
    }

    .description,
    .customerName,
    .customer,
    .locationName,
    .location,
    .square,
    .type,
    .name {
        left: 100px;
    }

    .description2 {
        left: 80px;
    }

    .galleryLink {
        left: 500px;
    }


}


@media (max-width: 1280px) {

    .modalDetails {
        padding: 25px;
    }

    .galleryItem {
        margin-bottom: 35px;
        margin-left: 40px;
        width: 250px;
        height: 160px;
    }

    .linkBack {
        top: 18%;
    }

    .name {
        top: 18%;
    }

    .type {
        top: 24%;
    }

    .description {
        top: 25%;
    }

    .customer {
        top: 35%;
    }

    .customerName {
        top: 40%;
    }

    .location {
        top: 48%;
    }

    .locationName {
        top: 53%;
    }

    .description2 {
        top: 70%;
    }

    .description2 li {
        min-width: 200px;
        font-size: 14px;
    }

    .square {
        top: 65%;
    }

    .moreDetails {
        top: 92%;
    }


}

@media (max-width: 800px) {

    .name {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 20px;
        line-height: 30px;
        width: 400px;
        text-align: center;

    }

    .type {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 400px;
        text-align: center;
    }

    .description {
        top: 25%;
    }

    .description,
    .description2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 22px;
        width: 400px;
        text-align: center;
    }

    .customer {
        top: 33%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 10px;
        text-align: center;
    }

    .customerName {
        width: 400px;
        top: 36%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }

    .location {
        top: 45%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 10px;
    }

    .locationName {
        width: 400px;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }


    .square {
        width: 400px;
        top: 58%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }

    .description2 {
        top: 61%;
        left: calc(50% - 50px);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .moreDetails {
        top: 80%;
        left: calc(50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .linkBack {
        top: 90%;
        left: 12%;
    }

    .galleryLink {

        left: 40%;
    }

}


@media (max-width: 420px) {

    .detailsClose {
        top: -35px;
        right:-10px;
    }

    .customerTitle {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .modalDetails p {
        font-size: 12px;
    }

    .name {
        font-size: 14px;
    }

    .type {
        font-size: 8px;
        top: 22%;
    }

    .name,
    .description,
    .description2,
    .location,
    .locationName,
    .customer,
    .customerName,
    .type,
    .square {
        width: 350px;
    }

    .description {
        top: 26%;
    }

    .customer {
        top: 28%;
    }

    .customerName {
        top: 30%;
    }

    .location {
        top: 38%;
        text-align: center;
    }

    .locationName {
        top: 40%;
    }

    .description2 {
        top: 52%;
        columns: 1;
        padding-inline-start: 0 !important;
        list-style-type: none;
        left: calc(50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;

    }

    .description2 li {
        margin-left: 0 !important;
        margin-top: 5px;
        min-width: unset;
        float: unset;
    }

    .square {
        top: 50%;
    }


    .galleryLink {
        left: 45%;
        width: 160px;
    }

    .moreDetails {
        top: 84%;
        font-size: 12px;
    }

}

@media (max-width: 400px) {
    .name,
    .description,
    .description2,
    .location,
    .locationName,
    .customer,
    .customerName,
    .square {
        width: 350px;
    }

    .name {
        top: 17%;
        font-size: 14px;
    }

    .type {
        font-size: 8px;
        top: 110px;
    }


    .customer {
        top: 22%;
        font-size: 8px;
    }

    .customerName {
        top: 24%;
        font-size: 12px;
    }

    .location {
        top: 31%;
        text-align: center;
        font-size: 8px;
    }

    .locationName {
        top: 33%;
        font-size: 12px;
    }

    .description2 {
        top: 45%;
    }

    .description2 li {
        font-size: 10px;
    }

    .square {
        top: 40%;
        font-size: 12px;
    }


    .galleryLink {
        left: 45%;
        width: 160px;
    }

    .moreDetails {
        top: 80%;
        font-size: 11px;
    }
}


@media (max-width: 380px) {

    .name {
        top: 20%;
    }

    .type {
        top: 24%;
    }


    .customer {
        top: 30%;
    }

    .customerName {
        top: 32%;
        font-size: 12px;
    }

    .location {
        top: 37%;
        text-align: center;
        font-size: 8px;
    }

    .locationName {
        top: 42%;
        font-size: 12px;
    }

    .square {
        top: 50%;
    }

    .description2 {
        top: 55%;
    }


    .moreDetails {
        font-size: 9px;
    }

}


@media (max-height: 450px) {

    .box {
        display: flex;
        flex-direction: column;
    }

    .description,
    .description2,
    .location,
    .locationName,
    .square {
        position: relative;
    }


    .location {
        text-align: center;
    }


    .linkBack {
        top: 50%;
    }

    .galleryLink {
        left: 80%;
        top: 50%;
        font-size: 8px;
        line-height: 8px;
        width: 70px;
    }

    .moreDetails {
        top: 50%;
    }
}
