.container {
    position: relative;
    background: black;
    overflow-x: hidden;
}
.header {
    margin-top:10px;
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
}
.wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0.3;

}

.linkBack {
    position: absolute;
    top: 175px;
    left: 100px;
}

.buttonBack {

    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2;
    background: inherit;
    cursor: pointer;
}

.buttonBack img {
    position: relative;
    padding-left: 7px;
}


p {
    margin: 0;
    padding: 0;
    font-family: MullerRegular, sans-serif;
    color: #F2F2F2;

}

 .name {
    position: absolute;
    left: 180px;
    top:176px;
    font-family: Muller, sans-serif;
    font-size: 35px;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    position: absolute;
    left: 180px;
    top:230px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
    opacity: 0.7;
}


 .customer {
    position: absolute;
    left: 180px;
    top:300px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

 .customerName {
     position: absolute;
     left: 180px;
     top:330px;
     font-size: 25px;
     line-height: 130%;
     letter-spacing: 0.2em;
     text-transform: uppercase;
 }


 .location {
     position: absolute;
     left: 180px;
     top:390px;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
 }

 .locationName {
    position: absolute;
    left: 180px;
    top:420px;
    max-width: 700px;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

 .description2 {
     font-family: MullerRegular, sans-serif;
     position: absolute;
     left: 180px;
     top:500px;
    font-size: 18px;
    max-width: 600px;
    line-height: 28px;
    opacity: 0.7;
}

 .square {
     font-family: MullerRegular, sans-serif;
     position: absolute;
     left: 180px;
     top:580px;
    font-size: 25px;
    line-height: 130%;
    /* or 39px */

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

 .square2 {
     font-family: MullerRegular, sans-serif;
     position: absolute;
     left: 180px;
     top:615px;
    font-size: 30px;
    line-height: 130%;
    font-weight: bold;

    letter-spacing: 0.2em;
    text-transform: uppercase;
}


 .galleryLink {
    position: absolute;
    left: 550px;
    top: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 259px;
    height: 50px;

    background: #ECECEC;
    border: 0;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
    font-weight: 600;
    cursor: pointer;
}

 .galleryLink img {
    margin-left: 20px;
}


@media (max-width: 1800px) {

    .header {
        left: 0;
    }

    .linkBack {
        left: 30px;
    }

    .description,
    .description2,
    .customerName,
    .customer,
    .locationName,
    .location,
    .square,
    .square2,
    .name {
        left: 100px;
    }

    .galleryLink {
        left: 500px;
    }


}


@media (max-width: 1280px) {

    .linkBack {
        top: 18%;
    }

    .name {
        top: 18%;
    }

    .description {
        top: 25%;
    }

    .customer {
        top: 35%;
    }

    .customerName {
        top: 40%;
    }

    .location {
        top: 48%;
    }

    .locationName {
        top: 53%;
    }

    .description2 {
        top: 65%;
    }

    .square {
        top: 75%;
    }

    .square2 {
        top: 80%;
    }

}

@media (max-width: 800px) {

    .name {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 20px;
        line-height: 30px;
        width: 400px;
        text-align: center;

    }

    .description {
        top: 25%;
    }

    .description,
    .description2 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 22px;
        width: 400px;
        text-align: center;
    }

    .customer {
        top: 33%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 10px;
        text-align: center;
    }

    .customerName {
        width: 400px;
        top: 36%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }

    .location {
        top: 45%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 10px;
    }

    .locationName {
        width: 400px;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }

    .description2 {
        top: 58%;
    }

    .square {
        width: 400px;
        top: 66%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }
    .square2 {
        width: 400px;
        top: 70%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px;
        text-align: center;
    }

    .linkBack {
        top: 90%;
        left: 12%;
    }

    .galleryLink {

        left: 40%;
    }

}


@media (max-width: 420px) {


    .name,
    .description,
    .description2,
    .location,
    .locationName,
    .customer,
    .customerName,
    .square2,
    .square {
        width: 300px;
    }

    .description {
        top: 26%;
    }

    .customer {
        top: 36%;
    }

    .customerName {
        top: 39%;
    }

    .location {
        top: 46%;
        text-align: center;
    }

    .locationName {
        top: 49%;
    }

    .description2 {
        top: 60%;
    }

    .square {
        top: 70%;
    }

    .square2 {
        top: 76%;
    }

    .galleryLink {
        left: 45%;
        width: 160px;
    }

}

@media (max-width: 400px) {
    .name,
    .description,
    .description2,
    .location,
    .locationName,
    .customer,
    .customerName,
    .square2,
    .square {
        width: 300px;
    }

    .name {
        top: 20%;
        font-size: 14px;
    }

    .description {
        font-size: 12px;
        top: 26%;
    }

    .customer {
        top: 40%;
        font-size: 8px;
    }

    .customerName {
        top: 43%;
        font-size: 12px;
    }

    .location {
        top: 51%;
        text-align: center;
        font-size: 8px;
    }

    .locationName {
        top: 54%;
        font-size: 12px;
    }

    .description2 {
        top: 63%;
        font-size: 12px;
    }

    .square {
        top: 78%;
        font-size: 12px;
    }

    .square2 {
        top: 82%;
        font-size: 12px;
    }

    .galleryLink {
        left: 45%;
        width: 160px;
    }
}
