.about {
    position: relative;
}

.descriptions {
    display: flex;
    justify-content: space-between;
}

.descriptions div {
    font-family: "Muller", sans-serif;
    font-size: 18px;
    line-height: 28px;
    max-width: 800px;
    opacity: 0.7;
    color: #2B2A29;
    padding: 0 10px;
}

.description2 {
    margin-top: 40px;
    width: 100%;
    background: #B9261A;
    padding: 52px 59px 52px 0;

    text-align: center;

}

.description2 span {
    font-family: Muller, sans-serif;
    font-size: 25px;
    line-height: 130%;
    color: #F2F2F2;
    opacity: 0.9;
}

.toCustomers {
    margin-top: 100px;
}

.toCustomers h4 {
    padding: 0;
    margin: 0;
    font-family: Muller, sans-serif;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2A29;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
}

.container .text {
    max-width: 818px;
    display: flex;
    flex-direction: column;
    font-family: Muller, sans-serif;
    font-size: 18px;
    padding-left: 50px;
    line-height: 28px;
    /* or 156% */


    /* 2 */

    color: #2B2A29;
    opacity: 0.7;
}

.text div {
    margin-bottom: 30px;
}


@media (max-width: 1200px) {

    .container {
        flex-direction: column;
    }

    .container .text {
        padding: 50px 0 0;
    }




}

@media (max-width: 420px) {

    .container img {
        width: 100%;
    }

    .container .text {
        text-align: center;
    }

    .descriptions {
        flex-direction: column;
    }



    .descriptions div {
        margin-bottom: 20px;
    }

    .description2 {
        padding-left: 0 ;
    }

    .description2 span {
        font-size: 18px;
        display: inline-block;
        padding: 20px;
    }

}
