.wrapper {
    position: relative;
    margin-bottom: 70px;
}

.wrapper img {
    position: relative;
    width: 100%;
    height: 453px;
}

.wrapper .title {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 107px;
    top: 156px;
    max-width: 924px;
    font-family: Muller, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.wrapper .description {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 110px;
    top: 241px;
    max-width: 952px;
    font-family: Muller, sans-serif;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #2B2A29;
}

@media (max-width: 420px) {

    .wrapper .title {
        width:100%;
        text-align: center;
        left: 0;
        top: 10%;
        font-size: 30px;

    }

    .wrapper .description {
        text-align: center;
        left: 0;
        top: 40%;
        font-size: 15px;

    }

    .info h5 {
        font-size: 30px;
    }
}
