/*@font-face {*/
/*    font-family: "MullerLightItalic";*/
/*    src: url("../../fonts/Fontfabric - MullerLightItalic.otf");*/
/*}*/

@import "../../components/base.css";

.container {
    position: relative;
}
.types {
    display: flex;
}

.showReal {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.playerContainer {
    position: relative;

    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .playerPause,
 .playerPlay {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;

}

.playerClose {
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 95%;
    cursor: pointer;
    width:40px;
    height:40px;
}

.playerPlay {
    width: 100px;
    height: 100px;
    top: 44%;
}

.playerPause {
    top:45%;
    width:55px;
    height:55px;
}


.playerContainer:hover .playerPause,
.playerContainer:hover .playerClose,
 .playerContainer:hover .playerPlay {
    visibility: visible;
    z-index:1000000;
 }


.showReal .titleContainer {
    position: absolute;
    top: 20%;
    left: 5%;

}

.showRealTitle {
    font-family: "Muller", sans-serif;
    position: relative;
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.showReal .descriptionContainer {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
}

.showRealDescription {
    font-family: "MullerRegular", sans-serif !important;
    opacity: 0.7;
    width: 90%;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A29;
}

.showReal .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    top: 60%;
}

.showReal .buttonContainerPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    top: 30%;

}

.showRealButton {
    font-family: "Muller", sans-serif;
    width: 219px;
    position: absolute;
    top: 75%;
    left: 5%;
    border: none;
    background: #B9261A;
    color: white;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 34px;
    cursor: pointer;
}

.showRealButton:hover {
    width: 219px;
    position: absolute;
    top: 75%;
    left: 5%;
    border: 1px solid #B9261A;
    background: inherit;
    color: #B9261A;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 34px;
    cursor: pointer;
}

.showRealPlay {
    width: 184px;
    height: 184px;
    position: absolute;
    right: 10%;
    cursor: pointer;
}


.mouse {
    width: 18px;
    height: 43px;
    margin: 43px auto;
    cursor: pointer;
}


.types {
    width: 100%;
    display: flex;
    position: relative;
}

.design {
    position: relative;
}

.design img {
    width: 100%;
}

.buildingTitle,
.designTitle {
    left: calc(50%);
    transform: translate(-50%, -50%);
    font-family: Muller, sans-serif;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.buildingDescriptionContainer,
.designDescriptionContainer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40%;

}

.buildingDescription ,
.designDescription {
    width: 60%;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A29;
}

.buildingDescription p ,
.designDescription p {
    opacity: 0.7 !important;
    color: #2B2A29;
}

.building .buttonContainer,
.design .buttonContainer {
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buildingButton,
.designButton {
    font-family: Muller, sans-serif;
    position: relative;
    width: 219px;
    border: 1px solid #B9261A;
    background: inherit;
    color: #B9261A;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 34px;
    cursor: pointer;
}

.buildingButton:hover,
.designButton:hover {

    border: 1px solid white;
    background: #B9261A;
    color: white;

}

.building {
    position: relative;
}

.building img {
    width: 100%;
}


@media (max-width: 1500px) {

    .showReal .titleContainer {
        top: 17%;
    }

    .showRealTitle {
        font-size: 35px;
        top: 5%;
    }

    .showRealDescription {
        font-size: 15px;
        line-height: 28px;
    }

    .showRealButton:hover,
    .showRealButton {
        top: 80%;
    }

    .showRealPlay:hover,
    .showRealPlay {
        width: 100px;
        height: 100px;
    }

    .buildingTitle,
    .designTitle {
        font-size: 35px;
    }


    .buildingDescription,
    .designDescription {
        font-size: 13px;
        line-height: 26px;
        max-width: 400px;
    }

    .buildingButton:hover,
    .designButton:hover,
    .buildingButton,
    .designButton {
        width: 160px;
        padding: 15px 34px;
    }

}

@media (max-width: 1200px) {

    .showRealTitle {
        font-size: 25px;
        line-height: 25px;
    }

    .showRealDescription {
        font-size: 14px;
        line-height: 18px;
    }

    .showRealButton:hover,
    .showRealButton {
        font-size: 10px;
        width: 160px;
        padding: 10px;
    }


    .buildingTitle,
    .designTitle {
        font-size: 25px;
    }


    .buildingDescription,
    .designDescription {
        font-size: 13px;
        line-height: 18px;
        max-width: 300px;
    }

    .buildingButton:hover,
    .designButton:hover,
    .buildingButton,
    .designButton {
        width: 160px;
        font-size: 11px;
        padding: 10px 30px;
    }

}

@media (max-width: 1000px) {

    .showReal .descriptionContainer {
        top: 23%;

    }

    .showReal .titleContainer {
        width: 100%;
        top: 3%;
        left: 0;
        display: flex;
        justify-content: center;
    }

    .showReal .buttonContainerPlay {
        top: 75%;
    }

    .showReal .buttonContainer:hover,
    .showReal .buttonContainer {
        top: 50%;
    }



    .showRealImage {
        height: 800px;
    }

    .showRealContainer:hover,
    .showRealContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showRealTitle {
        text-align: center;
        left: 0;
        width: 100%;
        font-size: 45px;
        line-height: 45px;
    }

    .showRealDescription {
        text-align: center;
        width: 90%;
        left: 0;
        max-width: 100%;
        font-size: 20px;
        line-height: 22px;
    }


    .showRealButton:hover,
    .showRealButton {
        position: relative;
        left: 0%;
        width: 219px;
        padding: 20px 34px;
    }

    .showRealPlay:hover,
    .showRealPlay {
        position: relative;
        left: 0%;
        width: 184px;
        height: 184px;
    }

    .types {
        flex-direction: column;
    }

    .buildingTitle,
    .designTitle {
        width: 100%;
        text-align: center;
        top: 30%;
        font-size: 50px;
        line-height: 55px;
    }


    .buildingDescription,
    .designDescription {
        width: 90%;
        max-width: 100%;
        left: 0%;
        font-size: 18px;
        line-height: 28px;
    }

    .buildingButton:hover,
    .designButton:hover,
    .buildingButton,
    .designButton {
        width: 219px;
        font-size: 12px;
        line-height: 12px;
        padding: 20px 34px;
    }

}

@media (max-width: 800px) {

    .playerClose {
        width: 25px;
        height: 25px;
    }

    .playerPlay {
        width: 55px;
        height: 55px;
    }

    .playerPause {
        width:35px;
        height:35px;
    }

    .showReal .descriptionContainer {
        top: 23%;
    }

    .showReal .titleContainer {
        top: 3%;
        left: 0;
        display: flex;
        justify-content: center;
    }


    .showRealTitle {
        font-size: 35px;
    }

    .showRealDescription {
        line-height: 18px;

    }


    .buildingTitle,
    .designTitle {
        font-size: 35px;
        line-height: 25px;
    }

    .buildingDescription,
    .designDescription {
        font-size: 15px;
        line-height: 15px;
    }


    .building .buttonContainer,
    .design .buttonContainer {
    }

    .buildingButton:hover,
    .designButton:hover,
    .buildingButton,
    .designButton {
        position: relative;
        text-align: center;
        left: 0%;
        width: 160px;
        padding: 10px 34px;

    }

}


@media (max-width: 420px) {



    .showReal {
        margin: 0;
    }

    .showRealTitle {
        font-size: 23px;
        max-width: 280px;
    }


    .showRealDescription {
        font-size: 15px;
    }


    .mouse {
        visibility: hidden;
        margin: 0;
        height: 20px;
    }

    .showRealDescription {
        font-size: 20px;
        line-height: 24px;
    }

    .design {
        margin-bottom: 20px;
    }

    .building .buildingTitle,
    .design .designTitle {
        font-size: 23px;
        top: 10%;
    }

    .buildingDescriptionContainer,
    .designDescriptionContainer {
        top: 25%;
    }

    .buildingDescriptionContainer p,
    .designDescriptionContainer p {
        line-height: 18px;
    }

    .showReal .buttonContainer:hover,
    .showReal .buttonContainer {
        top: 65%;
    }

    .showReal .buttonContainerPlay {
        top: 80%;
    }

    .showRealPlay:hover,
    .showRealPlay {
        width: 124px;
        height: 124px;
    }

    .designTitle,
    .buildingTitle {
        font-size: 30px;
        top: 0%;
    }

}

@media (max-width: 330px) {

    .showRealTitle {
        font-size: 25px;
    }

    .designTitle,
    .buildingTitle {
        font-size: 25px;
        top: 7%;
    }


    .buildingDescriptionContainer,
    .designDescriptionContainer {
        top: 25%;
    }



    .design .buttonContainer:hover,
    .building .buttonContainer:hover,
    .design .buttonContainer,
    .building .buttonContainer {
        top: 77%;
    }

    .buildingButton:hover,
    .designButton:hover,
    .buildingButton,
    .designButton {
        width: 140px;
        padding: 5px 20px;
    }

}
