p {
    padding: 0;
    margin: 0;
}

h3 {
  padding-top: 0;
  margin-top: 0;
}

.type {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    position: relative;
    margin-bottom: 100px;
}

.wrapper img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 453px;
}

.wrapper .title {
    position: absolute;
    left: 78px;
    top: 156px;
    max-width: 924px;
    font-family: Muller, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.wrapper .description {
    position: absolute;
    left: 78px;
    top: 241px;
    max-width: 1257px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #2B2A29;
}

.wrapper .link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 259px;
    height: 50px;
    border: 0;
    background: #ECECEC;

    font-family: Muller, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: 0;
    bottom: 0;

    cursor: pointer;
}

.wrapper .link:hover {
    background-color: #d3d3d3;
}

.wrapper .link .arrowLink {
    width: 23px;
    height: 29px;
    margin: 0 0 0 10px;
}

.info {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.info .description {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #2B2A29;
    max-width: 818px;
    white-space:pre-wrap;
    padding: 0 20px;
}



.content {
    display: flex;
    flex-direction: column;
}

.contentTitle {
    font-family: Muller,sans-serif;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
}

.contentDescription {
    padding-top: 20px !important;
    white-space:pre-wrap;
}

.contentDescription4,
.contentDescription3,
.contentDescription2,
.contentDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A29;
    opacity: 0.7;
    white-space:pre-wrap;

    padding-right: 100px;
}

.contentDescription2 {
    width: 90%;
    padding-left: 100px;
}

.contentDescription4 {
    width: 90%;
    padding-left: 100px;
    padding-bottom: 50px;
}

.contentDescription3 {
    width: 90%;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}



.designImage {
    width: 100%;
    height: auto;
    min-height: 527px;
    min-width: 0;
}


.designImageContainer2 {
    width: 50%;
}

.designImageContainer {
    width: 50%;
}

.designImage2 {
    margin-top: -170px !important;
    width: 100%;
    height: auto;
    min-height: 940px;
}

.designImage3 {
    max-height: 228px;
    min-width: 800px;
}

.contentRow {
    display: flex;
}

.contentRow:nth-child(2) {
    margin-top: 100px;
}

.contentRow:nth-child(3) {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.contentRowCol {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.content ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    padding-inline-start: 110px !important;
}

.content ul li {
    color: #dd7777;
    float: left;
    break-inside: avoid-column;
    padding-bottom: 20px;
}

.content ul li b {
    color: #dd7777;
    font-family: "MullerRegular", sans-serif;
    font-weight: lighter;
}

.content ul li span {
    font-size: 18px;
    color:#2B2A29;
    opacity: 0.7;

}

.content .generalProject li:nth-child(4),
.content .generalProject li:nth-child(3) {
    margin-left: 63px;
}

.content .geoBase li:nth-child(4),
.content .geoBase li:nth-child(5),
.content .geoBase li:nth-child(6) {
    margin-left: 63px;
}

.content .constrDec {

}


.verticalEto {
    margin-top: 60px;
}


.content h3 {
    width: 100%;
    font-family: Muller, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2B2A29;
    padding-left: 100px;
}

.content .geoBaseH3 {
    padding-left: 0;
}

.description2 {
    margin-top: 100px;
    width: 100%;
    outline: 6px solid #B9261A;
    padding: 52px 0;
    text-align: center;

}

.description2 span {
    display: inline-block;
    padding: 0 100px;
    font-family: Muller, sans-serif;
    font-size: 25px;
    line-height: 130%;
    color: #2B2A29;;
    opacity: 0.9;
}


@media (max-width: 1760px) {
    .content {
        padding: 0 20px;
    }

    .info {
        align-items: center;
    }

    .info .image {
        width: 60%;
    }


}

@media (max-width: 1600px) {


    .designImage2 {
        margin-top: -50px;

    }

    .wrapper .title {
        font-size: 40px;
    }



}

@media (max-width: 1500px) {

    .contentRowCol {
        width: 100%;
    }

    .contentRow {
        flex-direction: column;
    }

    .contentRow:nth-child(2) {
        margin-top: 0px;
    }

    .designImageContainer2 {
        margin: 40px;
    }




    .designImageContainer,
    .designImage2 {
        visibility: hidden;
        width: 0;
        height: 0;
    }



    .contentTitle {
        padding-left: 40px;
        padding-right: 40px;
    }


    .contentDescription4,
    .contentDescription3,
    .contentDescription2,
    .contentDescription {
        padding: 0 40px;
    }

    .contentDescription4 {
        padding-bottom: 50px;
    }

    .contentDescription3 {
        padding-top: 50px;
    }


    .content h3 {
        padding-left: 40px;
    }

     .geoBaseH3 {
         padding-left: 40px !important;
     }

    .content ul {
        padding-inline-start: 50px !important;
    }



    .info {
        flex-direction: column-reverse;
    }

    .info .image {
        width: 80%;
        padding: 0;
        margin-bottom: 50px;
    }
}




@media (max-width: 1050px) {

    .designImageContainer2 {
        width: 85%;
    }


    .info .image {
        width: 100%;
    }

    .designImage,
    .designImage3 {
        max-height: unset !important;
        max-width: none !important;
        min-width: 0 !important;
        min-height: 0 !important;
        width: border-box !important;
        height: auto !important;
    }

    .content ul {
        columns: 1;
    }

    .content ul li:nth-child(6),
    .content ul li:nth-child(5),
    .content ul li:nth-child(4),
    .content ul li:nth-child(3) {
        margin-left: 0 !important;
    }

    .contentDescription2,
    .contentDescription {
        min-width: 0;
    }

    .wrapper .title {
        width: 90%;
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .wrapper .description {
        text-align: center;
        font-size: 16px;
        width: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}

@media (max-width: 420px) {

    .designImageContainer2 {
        width: 100%;
        margin: 10px;
    }

    .contentRow:nth-child(3) {
        margin-top: 20px;
    }

    .content h3 {
        padding-left: 0px !important;
    }

    .designImage {
        margin-top: 10px;
        margin-bottom: 20px !important;
    }

    .verticalEto {
        margin-top: 20px;
    }


    .info {
        margin-bottom: 20px;
    }

    .info .image {
        width: 100%;
    }

    .description2 {
        margin-top: 0px;
        padding-left: 0 ;
    }

    .description2 span {
        font-size: 18px;
        display: inline-block;
        padding: 20px !important;
    }

    .contentTitle {
        padding: 20px 10px;
    }

    .contentDescription3,
    .contentDescription4,
    .contentDescription,
    .contentDescription2 {
        padding: 0 10px;
    }

    .contentDescription4 {
        padding-bottom: 30px;
    }

    .contentDescription3 {
        padding-top: 30px;
    }

    .content h3 {
        text-align: center;
        padding: 0;
    }

    .content ul {
        padding-inline-start: 20px !important;
    }

    .wrapper {
        margin-bottom: 0;
    }

    .wrapper .title {
        top: 40px;
        font-size: 25px;

    }

    .wrapper .description {
        top: 30%;
        font-size: 16px;
    }

    .wrapper .link {
        top: 85%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}


@media (max-width: 320px) {
    .wrapper .description {
        font-size: 14px;

    }

    .—ÅonstructiveDecisions p {
        top: 25%;
    }

}
