.container {
    width: 100%;
    position: absolute;
    font-family: "MullerRegular", sans-serif;
    min-height: 70px;
    margin-top: 40px;
    left: 0;
}

.container img {
    position: absolute;
    width: 100%;
    height:100%;
}

.contacts {
    width: 100%;
    position: absolute;
    top:30%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 30px;
    color:white;
}


@media (max-width: 1500px) {

    .contacts {
        font-size: 25px;
    }

}


@media (max-width: 1200px) {

    .contacts {
        font-size: 20px;
    }

}

@media (max-width: 1000px) {

    .contacts {
        font-size: 15px;
    }

}


@media (max-width: 500px) {

    .contacts {
        font-size: 20px;
    }

    .container {
        margin-top: 20px;
        height: 150px;
    }

}


