.design {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.wrapper {
    position: relative;
    margin-bottom: 100px;
}

.wrapper img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 453px;
}

.wrapper .title {
    position: absolute;
    left: 171px;
    top: 80px;
    max-width: 924px;
    font-family: Muller, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.wrapper .description {
    position: absolute;
    left: 171px;
    top: 260px;
    max-width: 952px;
    font-family: Muller, sans-serif;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #2B2A29;
}

.wrapper .link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 259px;
    height: 50px;
    border: 0;
    background: #ECECEC;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: 0;
    bottom: 0;

    cursor: pointer;
}

.wrapper .link .arrowLink {
    width: 23px;
    height: 29px;
    margin: 0 0 0 10px;
}


.info {
    display: flex;
}


.info .title {
    width: 550px;
    font-family: Muller, sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.info .title p {
    margin: 0;
}

.info .title:after {
    position: absolute;
    content: ' ';
    height: 8px;
    width: 450px;
    margin-top: 40px;
    background: #B9261A;
}

.info .description {
    width: 450px;

    font-family: Muller, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A29;
    opacity: 0.7;
}

.design .moreLink {
    margin-top: 61px;
    margin-bottom: 100px;

    width: 219px;
    height: 50px;

    border: 1px solid #2B2A29;
    font-family: Muller, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
    background: white;
    cursor: pointer;
}


.design .slider {
    position: relative;
    width: 1700px;

}

.info h5 {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.info h5:first-child {
    color: #2B2A29;
}

.info h5:last-child {
    color: #B9261A;
    margin-left:0.35em
}


.types {
    display: flex;
    margin-bottom: 100px;
}

.types a {
    flex: 1;
}

.geotechnicalSubstantiation,
.сonstructiveDecisions,
.generalDesign {
    position: relative;
    margin-left: 20px;
}

.generalDesign {
    margin: 0;
}


.geotechnicalSubstantiation img,
.сonstructiveDecisions img,
.generalDesign img {
    position: relative;
    width: 100%;
    height: 520px;
    opacity: 0.4;

}


.geotechnicalSubstantiation h6,
.сonstructiveDecisions h6,
.generalDesign h6 {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70px;
    left: 0;

    font-size: 35px;
    line-height: 45px;


    text-align: center;
    text-transform: uppercase;

    color: #2B2A29;
    opacity: 1;
}

.geotechnicalSubstantiation p,
.сonstructiveDecisions p,
.generalDesign p {
    position: absolute;
    width: 100%;
    top: 189px;
    left: 0;

    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    text-align: center;

    /* 2 */

    color: #2B2A29;
    opacity: 0.7;

}

.buttonContainer {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.geotechnicalSubstantiation button,
.сonstructiveDecisions button,
.generalDesign button {
    position: relative;
    left: 0;

    background: inherit;
    width: 219px;
    height: 50px;
    border: 1px solid #B9261A;

    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #B9261A;
    cursor: pointer;
}


@media (max-width: 1500px) {
    .wrapper .title {
        top: 10%;
        font-size: 40px;
    }

    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size: 30px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 30%;
    }
}

@media (max-width: 1200px) {
    .wrapper .title {
        font-size: 40px;
    }

    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size: 25px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 30%;
        font-size: 14px;
    }

    .geotechnicalSubstantiation button,
    .сonstructiveDecisions button,
    .generalDesign button {
        font-size: 10px;
        width: 150px;

    }
}

@media (max-width: 1000px) {
    .wrapper .title {

        width: 100%;
        text-align: center;
        font-size: 32px;
        left: 0;
    }

    .wrapper .description {
        text-align: center;
        font-size: 14px;
        left: 0;
    }

    .info {
        flex-direction: column;
        margin: 30px 0;
    }

    .info h5 {
        margin: 0;
    }


    .types {
        flex-direction: column;
    }

    .generalContract,
    .zeroCycle {
        margin: 0;
    }

    .generalContract img,
    .zeroCycle img {
        max-width: 100%;
    }

    .generalContract h6,
    .zeroCycle h6 {
        top: 10%;
    }

    .generalContract p,
    .zeroCycle p {
        top: 25%;
        font-size: 20px;
    }

    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size: 40px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 30%;
        font-size: 16px;
    }

    .geotechnicalSubstantiation button,
    .сonstructiveDecisions button,
    .generalDesign button {
        font-size: 12px;
        width: 150px;

    }

}