.design {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.wrapper {
    position: relative;
}

.wrapper img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 453px;
}

.wrapper .title {
    position: absolute;
    left: 78px;
    top: 129px;
    max-width: 924px;
    font-family: Muller, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #2B2A29;
}

.wrapper .description {
    position: absolute;
    left: 78px;
    top: 269px;
    max-width: 952px;
    font-family: MullerRegular, sans-serif;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #2B2A29;
}

.wrapper .link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 259px;
    height: 50px;
    border: 0;
    background: #ECECEC;
    font-family: Muller, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: 0;
    bottom: 0;

    cursor: pointer;
}

.wrapper .link .arrowLink {
    width: 23px;
    height: 29px;
    margin: 0 0 0 10px;
}


.info {
    font-family: Muller, sans-serif;

    display: flex;
}


.info .title {
    width: 550px;
    font-family: Muller, sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.info .title p {
    margin: 0;
}

.info .title:after {
    position: absolute;
    content: ' ';
    height: 8px;
    width: 450px;
    margin-top: 40px;
    background: #B9261A;
}

.info .description {
    width: 450px;

    font-family: Muller, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #2B2A29;
    opacity: 0.7;
}

.design .moreLink {
    margin-top: 61px;
    margin-bottom: 100px;

    width: 219px;
    height: 50px;

    border: 1px solid #2B2A29;
    font-family: Muller, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B2A29;
    background: white;
    cursor: pointer;
}


.design .slider {
    position: relative;
    width: 1700px;

}

.info h5 {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.info h5:first-child {
    color: #2B2A29;
}

.info h5:last-child {
    color: #B9261A;
    margin-left:0.35em
}


.types {
    display: flex;
    margin-bottom: 100px;
}

.types a {
    flex: 1;
}

.geotechnicalSubstantiation,
.сonstructiveDecisions,
.generalDesign {
    position: relative;
    margin-left: 20px;
}

.generalDesign {
    margin: 0;
}


.geotechnicalSubstantiation img,
.сonstructiveDecisions img,
.generalDesign img {
    position: relative;
    width: 100%;
    height: 520px;
    opacity: 0.4;

}


.geotechnicalSubstantiation h6,
.сonstructiveDecisions h6,
.generalDesign h6 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: Muller, sans-serif;
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2A29;
    opacity: 1;
}

.geotechnicalSubstantiation p,
.сonstructiveDecisions p,
.generalDesign p {
    width: 90%;
    position: absolute;
    top: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #2B2A29;
    opacity: 0.7;

}

.buttonContainer {
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.geotechnicalSubstantiation button,
.сonstructiveDecisions button,
.generalDesign button {
    font-family: "Muller", sans-serif;
    position: relative;
    left: 0;
    background: inherit;
    width: 219px;
    height: 50px;
    border: 1px solid #B9261A;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #B9261A;
    cursor: pointer;
}


@media (max-width: 1600px) {
    .wrapper .title {
        font-size: 40px;
    }

    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size: 30px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 180px;
    }

}


@media (max-width: 1450px) {


    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        top: 50px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 150px;
        font-size: 16px;
    }


}

@media (max-width: 1280px) {
    .wrapper .title {
        font-size: 40px;
    }

    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size: 25px;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        font-size: 14px;
    }


}

@media (max-width: 1050px) {
    .wrapper .title {
        width: 90%;
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .wrapper .description {
        text-align: center;
        font-size: 16px;
        width: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .info {
        flex-direction: column;
        margin: 30px 0;
    }

    .info h5 {
        font-size: 25px;
        margin: 0;
    }


    .types {
        flex-direction: column;
    }


    .geotechnicalSubstantiation h6,
    .сonstructiveDecisions h6,
    .generalDesign h6 {
        font-size:25px;
        top: 25%;
    }

    .geotechnicalSubstantiation p,
    .сonstructiveDecisions p,
    .generalDesign p {
        top: 40%;
        font-size: 18px;
    }

    .geotechnicalSubstantiation,
    .сonstructiveDecisions,
    .generalDesign {
        margin-left: 0;
    }

    .geotechnicalSubstantiation button,
    .сonstructiveDecisions button,
    .generalDesign button {
        font-size: 12px;
        width: 219px;

    }

}

@media (max-width: 420px) {

    .wrapper {
        margin-bottom: 0;
    }

    .wrapper .title {
        top: 40px;
        font-size: 25px;

    }

    .wrapper .description {
        top: 38%;
        font-size: 16px;
    }

    .wrapper .link {
        top: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .info h5 {
        font-size: 20px;
    }

    .types {
        margin-bottom: 20px;
    }

    .geotechnicalSubstantiation img,
    .generalDesign img,
    .сonstructiveDecisions img {
        height: 594px;
    }


    .сonstructiveDecisions,
    .generalDesign {
        margin-bottom: 20px;
    }



    .geotechnicalSubstantiation h6,
    .generalDesign h6,
    .сonstructiveDecisions h6 {
        top: 5%;
        font-size: 20px
    }



    .geotechnicalSubstantiation  p,
    .generalDesign  p {
        top: 28%;
        font-size: 18px;
        line-height: 28px;
    }

    .сonstructiveDecisions  p {
        top: 18%;
        font-size: 18px;
        line-height: 28px;

    }

    .geotechnicalSubstantiation  .buttonContainer,
    .generalDesign  .buttonContainer {
        top: 85%;

    }

}


@media (max-width: 320px) {
    .wrapper .description {
        font-size: 14px;

    }

    .сonstructiveDecisions p {
        top: 25%;
    }

}
