.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: "MullerRegular", sans-serif;
}

.imageWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1718px;
    height:700px;
}


.title,
.phoneTitle,
.phoneNumber,
.emailNumber,
.emailTitle {
    color: #F2F2F2;
    text-transform: uppercase;
}


.title {
    position: absolute;
    left: 7%;
    top: 7%;
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
}

.phone {
    position: absolute;
    left: 7%;
    top: 27%;
}

.phoneTitle {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.phoneNumber {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
}

.email {
    position: absolute;
    left: 40%;
    top: 27%;
}

.emailTitle {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.emailNumber {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
}


.schedule {
    position: absolute;
    left: 7%;
    top: 47%;
}

.scheduleNumber,
.scheduleTitle {
    font-size: 18px;
    line-height: 28px;
    color: #F2F2F2;
    opacity: 0.7;
}

.address {
    position: absolute;
    left: 40%;
    top: 47%;
}


.addressNumber,
.addressTitle {
    font-size: 18px !important;
    line-height: 28px;
    color: #F2F2F2;
    opacity: 0.7;
}

.addressNumber {
    text-decoration: underline;
    cursor: pointer;
}


.buttonLink {
    width: 219px;
    font-family: Muller, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background: white;
    cursor: pointer;
    padding: 20px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;

}

.arrowLink {
    margin-left: 20px;
    width: 25.72px;
    height: 17.42px;
}


@media (max-width: 1800px) {


    .imageWrapper {
        width: 96.5%;
        height: 600px;
    }

}

@media (max-width: 1600px) {
    .imageWrapper {
        width: 96%;
        height: 600px;
    }
}

@media (max-width: 1281px) {
    .imageWrapper {
        width: 95%;
        height: 600px;
    }
}

@media (max-width: 900px) {


    .imageWrapper {
        height: 650px;
    }


    .contacts {

        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%
    }

    .title {
        top: 2%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 25px;
    }

    .phone {
        top: 20%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .phoneTitle {
        position: relative;
        text-align: center;
        font-size: 12px;
    }

    .phoneNumber {
        position: relative;
        text-align: center;
        font-size: 20px;
        min-width: 250px;
        margin-top: 20px;
    }


    .email {
        position: absolute;
        top: 35%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .emailTitle {
        position: relative;
        text-align: center;
        font-size: 15px;
    }

    .emailNumber {
        position: relative;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;

    }

    .schedule {
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .scheduleNumber,
    .scheduleTitle {
        text-align: center;
    }


    .address {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addressTitle {
        min-width: 300px;
        text-align: center;
        font-size: 18px;
    }

    .addressNumber {
        font-size: 18px !important;

    }

    .buttonLink {
        bottom: 5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
    }


}
