.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: "MullerRegular", sans-serif;
}

.imageWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height:700px;
}


.title,
.phoneTitle,
.phoneNumber,
.emailNumber,
.emailTitle {
    color: #F2F2F2;
    text-transform: uppercase;
}


.title {
    position: absolute;
    left: 7%;
    top: 7%;
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
}

.phone {
    position: absolute;
    left: 7%;
    top: 27%;
}

.phoneTitle {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.phoneNumber {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
}

.email {
    position: absolute;
    left: 40%;
    top: 27%;
}

.emailTitle {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.emailNumber {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.2em;
}


.schedule {
    position: absolute;
    left: 7%;
    top: 47%;
}

.scheduleNumber,
.scheduleTitle {
    font-size: 18px;
    line-height: 28px;
    color: #F2F2F2;
    opacity: 0.7;
}

.address {
    position: absolute;
    left: 40%;
    top: 47%;
}


.addressNumber,
.addressTitle {
    font-size: 18px;
    line-height: 28px;
    color: #F2F2F2;
    opacity: 0.7;
}

.addressNumber {
    text-decoration: underline;
    cursor: pointer;
}


.buttonLink {
    font-family: Muller, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background: white;
    cursor: pointer;
    padding: 20px;

    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
}

.arrowLink {
    margin-left: 20px;
    width: 25.72px;
    height: 17.42px;
}


@media (max-width: 900px) {

    .title {
        top: 0;
        left: 5%;
    }

    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%
    }

    .phone {
        top: 15%;
        left: 5%;
    }

    .phoneTitle {
        font-size: 15px;
    }

    .phoneNumber {
        font-size: 20px;
    }


    .email {
        position: absolute;
        left: 5%;
        top: 30%;
    }

    .emailTitle {
        font-size: 15px;
    }

    .emailNumber {
        font-size: 20px;
    }

    .schedule {
        left: 5%;
    }


    .address {
        left: 5%;
        top: 60%;
    }


}
