
.container {
    width: 100%;
}

.container .slider {
    display: flex;
    width:100%;
    overflow: hidden;
}

.sliderImage {
    border: 1px solid grey;
    width: 607px;
    height: 525px;
    margin-right: 20px;
}

.sliderImage:last-child {
    margin-right: 0;
}

.sliderItem {
    position: relative;

}

.sliderItem .hover {
    visibility: hidden;
}

.sliderItem .hover .hoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderItem:hover .hover {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 90%;
    height: 90%;
    background-color: rgba(38,38,38,0.6);
    margin: 0;
    padding: 0;
}


.sliderItem .hover .title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 80px;
    font-size: 12px;
    line-height: 12px;
    color: #ECECEC;
    opacity: 0.7;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sliderItem  .hover .name {
    position: relative;
    font-family: Muller, sans-serif;
    font-size: 24px;
    line-height: 34px;
    padding-right: 80px;
    padding-bottom: 80px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 1;

    color: #FFFFFF;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderItem .info {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    width: 70%;
    max-width: 450px;
    height: 141px;
    z-index: 1001;
}

.sliderItem .title {
    top: 27px;
    left: 42px;
    position: absolute;
    text-transform: uppercase;
    color: #B9261A;
    font-family: Muller, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 800;
    letter-spacing: 2px;

}

.sliderItem .name {
    top: 50px;
    left: 42px;
    position: absolute;
    text-transform: uppercase;
    font-family: Muller, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 2px;
    color: #222222;
}

.container .buttonArrow {
    border: 1px solid #2B2A29;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: white;
}

.container .buttonArrow:last-child {
    margin-left: 20px;
}

.buttonArrow .imageArrowRight {
    padding: 5px;
}

.sliderFooter {
    display: flex;
    justify-content: space-between;
}


.allProjects {
    width: 219px;
    height: 50px;
    background: white;
    text-transform: uppercase;
    font-family: Muller, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: #B9261A;
    border: 1px solid #B9261A;
    padding: 0 34px;
    cursor: pointer;
}




@media (max-width: 1500px) {

    .container {
        width: 100%;
    }

    .slider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sliderItem {
        width: 100%;
    }

    .sliderItem .hover {
        visibility: visible;
    }

    .sliderItem:hover .hover,
    .sliderItem .hover {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: calc(50%);
        transform: translate(-50%, -50%);
        top: 50%;
        width: 90%;
        height: 90%;
        background-color: rgba(38,38,38,0.6);
        margin: 0;
        padding: 0;
    }




    .sliderItem .hover .title {
        position: relative;
        margin: 0;
        padding: 0;
        padding-right: 80px;
        font-size: 12px;
        line-height: 12px;
        color: #ECECEC;
        opacity: 0.7;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .sliderItem  .hover .name {
        position: relative;
        font-family: Muller, sans-serif;
        font-size: 16px;
        line-height: 34px;
        padding-right: 80px;
        padding-bottom: 80px;
        word-wrap: break-spaces;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 1;
        min-width: 250px;
        color: #FFFFFF;
    }

    .sliderImage {
        width: 100%;
        height: 100%;
    }

    .buttonArrow {
        visibility: hidden;
    }

    .sliderFooter {
        margin-top: 30px;
        justify-content: center;
    }

}

@media (max-width: 420px) {

    .sliderItem {
        margin-bottom: 20px;
    }




    .sliderItem .title {
        top: 10%;
    }

    .sliderItem .name {
        max-width:180px;
        word-wrap: break-word;
        top: 25%;
        font-size: 15px;
    }
}
