
.container {
}

.container .slider {
    display: -webkit-inline-box;
    width:1720px;
    overflow: hidden;
}

.sliderImage {
    border: 1px solid grey;
    margin: 10px;
    width:340px;
    height: 340px;
}
